body {
background-color: #E4FFFF;
}

.immagine{
background-image: url('changeover.jpg');
background-repeat: no-repeat;
background-position: 30px 15px;

}

#box {
background-color: #C6EDEC;
border-radius: 10px 10px 10px 10px;

margin-left: auto;
margin-right: auto;
width: 960px;
padding: 30px;
border: 1px solid #80A7A6;

text-align:center;
}

.logo{
margin-right:10px;
float:right;
}

#titolononconf{
font: normal 55px  Arial, Verdana, Tahoma, Sans-serif ;
font-weight: bold;
text-shadow: 2px 2px 4px black;
margin-left: 150px;
box-shadow:  10px  10px 5px #9EC5C4;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#9EC5C4', Direction=135, Strength=12);
}
.titolo a  {color: #6FD1D2; }
.titolo a:hover  {color: #58BBC0;}

#sottotitolo{
font: normal 25px Arial, Verdana, Tahoma, Sans-serif ;
margin-top: 35px;
color: #58BBC0;
box-shadow:  10px  10px 5px #9EC5C4;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#9EC5C4', Direction=135, Strength=12);
margin-left: 150px;
}

#menu {
font-family: Arial, sans-serif;
font-weight: bold;
background-color: #eee;
font-size: 13px;
height: 40px;
border-bottom: 2px solid #6FD1D2;
margin-left: auto;
margin-right: auto;

}
#menu li {
float: left;
margin: 0;
display: block;
}
#menu li a {
text-decoration: none;
display: block;
padding: 0 20px;
line-height: 40px;
color: #6FD1D2;

}
#menu a:hover {
background-color: #f9f9f9;
color: #58BBC0;
}

.nosubmenu  a:hover {
background-color: #f9f9f9;
color: #58BBC0;
border-bottom: 2px solid #58BBC0;
}

.nosubmenu  a {

border-bottom: 2px solid #6FD1D2;
}

#menu ul {
margin: 0;
padding: 0;
list-style-type: none;
}

#menu li ul {
display: none;
visibility: visible;}

#menu li:hover ul {
display: block;
position: absolute;
z-index:1;
padding: 0;
margin: 0 0 0 -1px;
background: #eee;

} 

.logout li{
float: right;
margin: 0;
background-color: #eee;
border-bottom: 2px solid #6FD1D2;
height: 40px;
}

#submit {
background-color: #6FD1D2; 
border: 2px solid #58BBC0; 
color: #000;             
font-weight: bold;         
padding: 0;               
height: 25px;            
width: 80px;              
cursor: pointer;
}

table.ret td{
border: 2px solid #6FD1D2;
rules: none;
padding: 10px 50px;
cellspacing: 0 ;
}

#retg {
border: 2px solid #FFCC33;
rules: none;
padding: 10px 50px;
cellspacing: 0 ;
}  

.blue
{
color: #58BBC0;
font-weight:bold;
font: 25px Arial, Helvetica;
}
.rosso
{
color: #CD0000;
font-weight:bold;
font: 20px Arial, Helvetica;
}
.rossop
{
color: #CD0000;
font-weight:bold;
font: 10px Arial, Helvetica;
}
.giallo
{
color: #FFCC33;
font-weight:bold;
font: 25px Arial, Helvetica;
}
.giallop
{
color: #FFCC33;
font-weight:bold;
font: 18px Arial, Helvetica;
}
.titolo
{
color: #58BBC0;
font-weight:bold;
font: 30px Arial, Helvetica;
}


#ultime_richieste{
	border: 1px solid black;
}


#retblu{
border: 2px solid #6FD1D2;
}

#retgiallo{
border: 2px solid #FFCC33;
}